<h1> Create a Edit Character in House <%=@house.name %> </h1>


<%= form_for [@house, @character] do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :portrayed_by %><br>
    <%= f.text_field :portrayed_by %>
  </p>

  <p>
    <%= f.label :img_url %><br>
    <%= f.url_field :img_url%>
  </p>

  <p>
    <%= f.label :seasons %><br>
    <%= f.text_field :seasons %>
  </p>

  <p>
    <%= f.label :first_seen %><br>
    <%= f.text_field  :first_seen %>
  </p>

  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </p>


  <p>
    <%= f.submit %>
  </p>
<% end %>
